.wrapper {
    position: static;
    display: flex;
    flex: 1 1 auto;
    height: 60px;
    white-space: nowrap;

    @media only screen and (min-width: 1200px) {
        //margin: 2rem;
    }
}
  
.wrapper__focused {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overscroll-behavior: contain;
    background-color: #202124;
    //overflow: auto;
}

.query_touch {
    width: 100%;
    display: flex;
    //border-bottom: 1px solid rgba(255,255,255,0.2);
}

.query__overflow {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 60px;

    &::-webkit-scrollbar {
        display: none;
    }

    &>* {
        display: inline-block;
        vertical-align: text-top;
        margin-top: 5px;
    }
}

.query__divider {
    width: 1px;
    height: 45px;
    background-color: rgba(255,255,255,0.2);
    margin-top: 5px;
    margin-right: 1rem;
}

.query__title {

    //background-color: var(--backgroundcolor);
    padding: 0 1rem;

    svg {
        display: inline-block;
        height: 1rem;
        width: 1rem;
        color: var(--forecolor);
    }

    span {
        display: inline-block;
        color: var(--forecolor);
        font-family: var(--font-inter);
        color: var(--forecolor);
        font-size: 1rem;
        margin-left: 0.5rem;
    }

}

.query__container {
    height: 45px;
    min-width: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.query__chip {
    background-color: rgba(255,255,255,0.1);
    font-family: var(--font-inter);
    color: var(--forecolor);
    font-size: 1rem;
    border-radius: 8px;
    padding: 0 1rem;
    border: 0;
    margin-right: 0.5rem;
}

.query__chip__selected {
    background-color: var(--forecolor);
    font-family: var(--font-inter);
    color: #202124;
    font-size: 1rem;
    border-radius: 8px;
    padding: 0 1rem;
    border: 0;
    margin-right: 0.5rem; 
}

.form {
    display: flex;
    flex: 1 1 0px;
    background-color: #071a2c;
    opacity: 1.5;
    border: none;
    box-shadow: none;
    border-radius: 99px;
    overflow: hidden;  
    &:hover {
      box-shadow: 0 1px 6px 0 #171717;
      background-color: #051523;
      border: none;
    }
}
  
.form__focused {
    display: flex;
    flex: none;
    width: 100%;
    height: 60px;
    padding-right: 1rem;
    //background-color: #202124;
}

.left {
    display: flex;
    position: relative;
    background-color: var(--backgroundcolor);

    @media only screen and (pointer: coarse) and (pointer: coarse) {
        display: none;
    }
}

.select {
    height: 60px;
    width: 100%;
    display: block;
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: visible;
}

.left__wrapper {
    display: flex;
    color: var(--forecolor);
    align-items: center;
    justify-content: center;
    font-family: var(--font-inter);
    gap: 0.25rem;
    padding: 0 1rem 0 2rem;
    cursor: pointer;
    
    h4 {
        display: inline-block;
        text-transform: capitalize;
    }

    svg {
        display: inline-block;
        width: 1rem;
        height: 1rem;
    }
}

.middle {
    display: flex;
    position: static;
    flex: 1 1 0px;
    overflow: hidden;
    height: auto;

    input {
        flex: 1;
        background-color: transparent;
        border: none;
        color: var(--forecolor);
        word-wrap: break-word;
        outline: none;
        display: flex;
        -webkit-tap-highlight-color: transparent;
        font-size: 1rem;
        overflow-y: hidden;
        padding-left: 1rem;
        font-family: var(--font-inter);

        &::placeholder {
            color: var(--forecolor);
            opacity: 0.75;
        }

        @media only screen and (pointer: coarse) and (hover: none) {
            padding-left: 0;
        }
    }
}

.middle__focused {
    display: flex;
    position: static;
    flex: 1 1 0px;
    overflow: hidden;
    height: 55px;
    background-color: var(--forecolor);
    border-radius: 99px;
    margin-top: 5px;

    input {
        flex: 1;
        background-color: transparent;
        border: none;
        color: #202124;
        word-wrap: break-word;
        outline: none;
        display: flex;
        -webkit-tap-highlight-color: transparent;
        font-size: 1rem;
        overflow-y: hidden;
        padding-left: 1rem;
        font-family: var(--font-inter);

        &::placeholder {
            color: #202124;
            opacity: 0.75;
        }
    }

    svg {
        color: #202124;
    }
}

.clear__button {
    display: flex;
    align-items: center;
    padding: 0.65rem 0.85rem 0.65rem 0.85rem;
    cursor: pointer;
  
    span {
      display: inline-block;
      fill: currentColor;
      height: 24px;
      line-height: 24px;
      position: relative;
      width: 24px;
      color: var(--graycolor);
    }
  }

.right {
    display: flex;
    position: flex;
    min-width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.right__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    //padding: 0.65rem 2rem;
    background-color: var(--backgroundcolor);
    height: 45px;
    border-radius: 99px;
    padding: 0.5rem 0.75rem;
    margin: 0 7px;
    cursor: pointer;
  
    span { 
      display: inline-block;
      fill: currentColor;
      height: 24px;
      line-height: 24px;
      position: relative;
      width: 24px;
      color: var(--forecolor);
    }

    @media only screen and (hover: none) and (pointer: coarse) {
        display: none;
    }
}

.left__button {
    display: flex;
    align-items: center;
    padding: 0.65rem 1rem 0.65rem 1rem;
    max-width: 24px;
  
    span { 
      display: inline-block;
      fill: currentColor;
      height: 24px;
      line-height: 24px;
      position: relative;
      width: 24px;
      color: var(--forecolor);
    }

    @media only screen and (hover: hover) and (pointer: fine) {
        display: none;
    }
}