@use "./styles/styles";

.container {
  padding: 20px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.inner__container {
  margin: 0 auto;
  //width: calc(632px + 8px);
  padding-top: 6px;
  width: 85vw;
  max-width: 584px;
  position: relative;

  @media only screen and (hover: none) and (pointer: coarse) {
    background: none;
    //padding: 0 5vw;
  }
}

.inner__container__focus {
  @media only screen and (hover: none) and (pointer: coarse) {
    position: fixed;
    background: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: auto;
    padding: 0;
    z-index: 999;
  }
}

.input__wrapper {
  display: flex;
  z-index: 3;
  height: 44px;
  background-color: #202124;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  //width: calc(632px + 6px);
  width: 85vw;
  max-width: 584px;

  @media only screen and (hover: none) and (pointer: coarse) {
    display: flex;
    z-index: 3;
    border-radius: 20px;
    background: #303134;
    border: 1px solid #70757a;
  }
}

.input__wrapper__focus {
  @media only screen and (hover: none) and (pointer: coarse) {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    border: none;
  }
}

.input__padding__wrapper {
  flex: 1;
  display: flex;
  padding: 5px 14px 0 14px;
}


