
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  //margin: 1rem;
  width: 100%;
  //max-width: 700px;

  @media only screen and (min-width: 1200px) {
    //margin: 2rem;
  }
}

.form__focused {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overscroll-behavior: contain;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex: none;
  background-color: var(--backgroundcolor);
  border: none;
  box-shadow: none;
  border-radius: 24px;
  width: 100%;
  height: 45px;

  &:hover {
    box-shadow: 0 1px 6px 0 #171717;
    border: none;
  }
}

.wrapper__focused {
  display: flex;
  flex: none;
  width: 100%;
  height: 45px;
  background-color: #202124;
}

.input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: var(--forecolor);
  word-wrap: break-word;
  outline: none;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.95rem;
  overflow-y: hidden;
  padding-top: 4px;
  padding-right: 1.25rem;
  font-family: sans-serif;

  &::placeholder {
    color: var(--forecolor);
    opacity: 0.75;
  }
}

.clear__button {
  display: flex;
  align-items: center;
  padding: 0.65rem 1.45rem 0.65rem 1rem;
  cursor: pointer;

  span {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
    color: var(--graycolor);
  }
}

.left__button {
  display: flex;
  align-items: center;
  padding: 0.65rem 1rem 0.65rem 1.45rem;

  span { 
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
    color: var(--forecolor);
  }
}