
.container {
  padding: 20px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.inner__container {
  margin: 0 auto;
  //width: calc(632px + 8px);
  padding-top: 6px;
  width: 85vw;
  max-width: 584px;
  position: relative;
}

.input__wrapper {
  display: flex;
  z-index: 3;
  height: 44px;
  background: #202124;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  //width: calc(632px + 6px);
  width: 85vw;
  max-width: 584px;
}

.input__padding__wrapper {
  flex: 1;
  display: flex;
  padding: 5px 14px 0 14px;
}


