
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--backgroundcolor-accentone);
  z-index: 10;
  padding: 1rem;

  @media only screen and (min-width: 1200px) {
    padding: 1rem 2rem;
  }

  @media only screen and (hover: none) and (pointer: coarse) {
    justify-content: center;
  }

  a {
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--forecolor);
    transition: opacity 300ms ease-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.container {
  @media only screen and (hover: none) and (pointer: coarse) {
    display: none;
  }
}