
.header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--backgroundcolor);
    z-index: 5;
    padding: 1rem;
    gap: 2rem;

    @media only screen and (pointer: coarse) and (hover: none) {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    @media only screen and (min-width: 1200px) {
        padding: 1rem 2rem;
    }
}

.text {
    display: grid;
    place-items: center;

    @media only screen and (pointer: coarse) and (hover: none) {
        flex: 1;
    }
}

.search {
    flex: 1;
    @media only screen and (pointer: coarse) and (hover: none) {
        display: flex;
        flex: none;
        width: 100%;
        justify-content: center;
    }
}