
.container {
    background-color: var(--backgroundcolor);
    max-width: 600px;
    width: 100%;
    display: flex;
    position: relative;
    //height: 30px;
    border-radius: 0;
    box-shadow: 0 1px 6px 0 #171717;

    @media only screen and (min-width: 601px) {
      border-radius: 10px;
    }
}

.inner__container {
  display: flex;
  width: 100%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.image {
  display: flex;
  background-color: var(--graycolor);
  aspect-ratio: 1/1;
  height: 6rem;
  width: 6rem;
  margin: 1rem 0 1rem 1rem;
  //align-self: center;
  border-radius: 10px;
  opacity: 0.75;
}

.info__wrapper {
  flex: 1;
  margin: 1rem 1rem 0 1rem;
  //height: 10rem;
  opacity: 0.75;
  //background-color: var(--graycolor);
}

.title {
  background-color: var(--graycolor);
  width: 100%;
  height: 0.5rem;
  border-radius: 10px;
}

.grid__wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  gap: 1rem;
}

.grid__one {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: 1rem;
  height: .5rem;
  
  & div:nth-child(1) {
    grid-column: span 2/span 2;
    border-radius: 10px;
    background-color: var(--graycolor);
  }

  & div:nth-child(2) {
    grid-column: span 1/span 1;
    border-radius: 10px;
    background-color: var(--graycolor);
  }
}

.grid__two {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: 1rem;
  height: .5rem;
  
  & div:nth-child(1) {
    grid-column: span 1/span 1;
    border-radius: 10px;
    background-color: var(--graycolor);
  }

  & div:nth-child(2) {
    grid-column: span 2/span 2;
    border-radius: 10px;
    background-color: var(--graycolor);
  }
}

@keyframes pulse {
    0%, 100% {
      opacity: .7;
    }

    50% {
      opacity: .45;
    }
}